<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669067438156-ofekurfagehcd8b4h5mbg07t427o780m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669067438156-ofekurfagehcd8b4h5mbg07t427o780m</string>
	<key>API_KEY</key>
	<string>AIzaSyAmmH8bY2oz7AruffAW7I7ToDfEkKxJZSg</string>
	<key>GCM_SENDER_ID</key>
	<string>669067438156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetoengsoft</string>
	<key>PROJECT_ID</key>
	<string>projetoes3</string>
	<key>STORAGE_BUCKET</key>
	<string>projetoes3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669067438156:ios:67c1c71797a9fbb2376ce9</string>
	<key>DATABASE_URL</key>
	<string>https://projetoes3.firebaseio.com</string>
</dict>
</plist>